input.trcl {
  transition: border 0.25s;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgb(22, 22, 24);
  padding: 4px 8px;
  color: rgba(235, 235, 245, 0.6);
  font-size: 16px;

  &:hover {
    border-color: rgb(168, 177, 255);
  }
}
