button.trcl {
  transition: color 0.25s;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  background-color: rgb(32, 33, 39);
  padding: 4px 8px;
  color: rgba(255, 255, 245, 0.86);
  font-size: 16px;

  /* Button Interaction (Disabled) */
  &:disabled {
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
  }

  /* Button Interaction (Not Disabled) */
  &:not(:disabled) {
    cursor: pointer;

    /* Hover State */
    &:hover {
      color: rgb(148, 153, 255);
    }
  }
}
